.about_banner {
    background-image: url(../img/aboutbgbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0 0 0;
    
}
.our_about{
    margin-top: 1% !important;
}

.about_elf_h1 h1{
	font-family: 'Fredoka One', cursive;
    color: #602d91;
    font-weight: 400;
    font-size: 76px;
}
.about_is{
	text-align: center;
    font-size: 49px !important;
    font-weight: 500 !important;
}
.about_eng{
	text-align: left;
}
.about_every{
	text-align: left;
}
.about_elf_h1 h3{
	    font-size: 34px;
    font-family: 'Fredoka One', cursive;
    color: #602d91;
    margin: 5% 0;
}
.about_text_top{
    margin-top: 3%;
}
.color1{
		color: #e82126;
	}.color2{
		color: #0697d3;
		}.color3{
			color: #21ac4b;
			}.color4{
				color: #f27226;
			}
  @font-face {
    font-family: 'Livvic-Medium';
    src: url('../fonts/Livvic-Medium.ttf');
}
.main_about h3{
    font-size: 19px;
    margin: 2% 0;
}
.main_aboout p{
    font-weight: 200 !important;
    font-family: Livvic-Medium;
    font-size: 17px;

}
.slick-slide{
	    text-align: center;


}
.slick-slide img {
	      width: 150px;
	       /*display: inline-block !important;*/
}
.slick-slide h3{
    font-size: 17px;
    color: #fd4d40;
    text-align: left;
    margin: 10% 0 6%;
}
.slick-slide h4{
font-size: 14px;
    font-family: Livvic-Medium;
    margin: 0 0 13%;
    text-align: left;
}
.slick-slide p{
    font-size: 13px;
    font-family: Livvic-Medium;
    text-align: justify;

}
.margin_fix {
    margin-top: 4%;
}
@media (min-width: 320px) {

.about_banner {
    background-image: url(../img/about_mobile_bgbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20% 0 0 0;

}
    .slick-dots li button {
    display: block;
}
.about_elf_h1 h1 {
    font-size: 53px;
    line-height: 49px;
}
.about_elf_h1 h3 {
    font-size: 25px;
    margin: 6% 0;
    text-align: center;
}
.about_eng {
    text-align: center;
}
.about_every {
    text-align: center;
}
.main_about h3 {
    font-size: 19px;
    margin: 5% 0;
    text-align: center;
    line-height: 25px;
}
.main_about p{
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    margin-top: 6%;
    	    font-family: Livvic-Medium;

}
.slick-slide h4 {
    margin: 0 0 11%;
    text-align: center;
}
.slick-slide h3 {
    text-align: center;
}
.slick-slide img {
	       display: inline-block !important;
}
.about_text_top{
    margin-top: 13%;
}
}
@media (min-width: 1200px) {
	.about_banner {
    background-image: url(../img/aboutbgbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8% 0 0 0;

}
    .slick-dots li button {
    display: none !important;
}
	.about_every {
    text-align: left;
}
.slick-slide h4 {
    margin: 0 0 13%;
    text-align: left;
}
.slick-slide h3 {
    text-align: left;
}
.slick-slide img {
    display: block !important;
}
.main_about h3 {
    font-size: 24px;
    margin: 2% 0;
    text-align: left;
}
	.about_eng {
    text-align: left;
}

.about_elf_h1 h1 {
    font-size: 82px;
    line-height: 76px;
}
.about_text_top{
    margin-top: 3%;
}
.about_elf_h1 h3 {
    font-size: 34px;
    margin: 5% 0;
    text-align: left;
}
.main_about p{
    font-size: 16px;
    text-align: left;
    line-height: 23px;
    margin-top: 4%;
    	    font-family: Livvic-Medium;
}

}