@media (min-width: 320px) {
    .main_elf {
    margin: 22% 0% !important;
    padding: 5% 4% !important;
}
.main_elf h1 {
    font-size: 30px;
}
}
@media (min-width: 1200px) {
        .main_elf {
    margin: 7% !important;
        padding: 0% 4% !important;

}
.main_elf h1 {
    font-size: 34px;
}
}
@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 3.5rem !important;
}
}
body {
    overflow-x: hidden;
    font-family: 'Livvic', sans-serif;
    background: #f9feef;
}
.main_tab{
        background: #fff;
    padding: 3% 0;
    box-shadow: 0px 0px 2px 0px #03a9f4;
    border-radius: 5px;
}
.header{
    padding: 16px;
    box-shadow: 0px 0px 4px 0px #00000073;
    background-color: #fff !important;
}
.ag_logo img{
    width: 200px;
    padding: 5px;
}
.home_newphone a{
    color: #000 !important;
}
.home_newphone a:hover{
text-decoration: none;}
.main_elf{
    border: 1px solid #59d2da;
    box-shadow: 0px 0px 12px 0px #00000073;
    border-radius:18px;
    margin: 9% 0 !important;
    padding: 4% !important;
}
.main_elf h4{
    font-size: 18px;
    text-align: center;
    padding: 16px 0 0;
}
.form-control{
/*    height: 30px !important;
*/    border: 1px solid #59d2da !important;
}
.elf_form{
    padding: 15px;
}
.elf_read{
    background-image: linear-gradient(to right, #59d2da , #3ab4f0);
    text-align: center;
    padding: 10px;
  }
.elf_read img{
      width: 200px;
}
.main_elf h1{
    color: #000;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
}
.book_btn{
    font-weight: bold;
    padding: 4px 10px 4px 10px !important;
    border-radius: 30px !important;
    margin: 3%;
    color: #fff !important;
}
.was-validated .form-control:valid, .form-control.is-valid {
    border-color: #28a745 !important;
    padding-right: calc(1.5em + 0.75rem);
    /*background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);*/
    background-image:aqua !important;
        background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-control:valid, .form-control.is-valid {
    border-color: #28a745 !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.elf_details:after {
     content: " ";
    border-bottom-width: 2px;
    width: 244px;
    border-bottom-style: double;
    color: #cecece;
    display: inline-flex;
  }
  .elf_details{
    margin-bottom: 4%;
  }
  /*enrol css*/
  #head{
    background: #1abaea;
    color: #fff;
    font-size: 13px;
    text-align: center;
  }
  th,td{
    padding: 5px 12px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #ccc;
  }

  .book_contiunue{
    font-weight: bold;
    padding: 4px 10px 4px 10px !important;
    border-radius: 30px !important;
    margin: 3% 0;
    color: #000 !important;
    border: 2px solid #1abaea;
    background-color: #fff !important;
}
.slots_td{
    border: 1px solid #fff !important;
    font-weight: bold;
}
.table-responsive-lg {
   display:block;
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
}
.form_modal{
    background-color: #fff;
    padding: 2% 0 9%;
    border-radius: 0px 0px 4px 4px;
}
.modal-header{
        background: #fff !important;
    padding: 0 15px !important;
    display: block !important;
    border:0 !important;
}
/*tab css*/
.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.add_newbtn{
        margin: 2% 2% 0;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead {
    background: #59d2da;
    color: #fff;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.modal-dialog {
    background: #fff !important;
}
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
    right: 1em;
    content: "↑";
    display: none !important;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
    right: .5em;
    content: "↓";
    display: none !important;
}

 .ajaxload {
  display: none;
  position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/webroot/img/loader.gif') 
                50% 50% 
                no-repeat;
}
/*.tab-content >.tab-pane {
    display: none; 
}

.tab-content >.active {
    display: block;
}*/
input.invalid{
    border: 1px solid red !important;
}
input.valid{
    border: 1px solid green !important;
}

span.mandatory{
    color: red;
}

th#reglink{
    width: 40% !important;
}