
.margin_fix{
  margin: 8% 0 !important;
}
.bg-light{
    border-bottom: 1px solid #ccc !important;
}

@font-face {
  font-family: Livvic-regular;
  src: url(../fonts/Livvic-Regular.ttf);
}

.disclaimer {
  font-family: Livvic-regular;
}
.disclaimer h5{
  font-weight: 700;
}
.disclaimer p a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

@media (max-width: 425px) {
  .disclaimer p {
    font-size: 12px;
  }
}

.disclaimer li {
  margin: 14px 0px;
  font-family: Livvic-regular;
}

.disclaimer li a {
  text-decoration: none;
  color: blue;
  font-weight: 300;
}

@media (max-width: 425px) {
  .disclaimer li {
    font-size: 14px;
    line-height: 20px;
  }
}

.disclaimer .list-indent {
  padding-left: 22px;
  font-family: Livvic-regular;
}
/*# sourceMappingURL=style.css.map */
@media (min-width: 320px) {
  .margin_fix{
  margin: 28% 0 !important;
}
}
@media (min-width: 1200px) {
  .margin_fix{
  margin: 8% 0 !important;
}

}