@media (min-width: 248px) {

.moble_b{
    text-align: center !important;
    margin-top: 8% !important;
} 
}
@media (min-width: 320px) {
	.main_courses {
    margin-top: 23%;
        background: #f9feef;
      padding: 2% 0 8%; 
}
.course_margin_newfix11{
       margin-top: 411px;
}
.course_margin {
    margin: -664px 0;
}
.course_margin_23{
    margin: -628px 0 !important;
}
.testimonial .description {
    text-align: center;
}

.elf_phonicses {
    text-align: center!important;
}
.elf_phonicses img {
    width: 225px;
}
.card_item p {
    margin: 0px 15% 3%;
    }
.elf_phonicses h2 {
    font-size: 28px;
    margin: 4% 0 0;
}
.elf_phonicses p {
    font-size: 16px;
}
.red_span {
    font-size: 27px;
}
.card_item h3 {
    font-size: 11px;
}
.card_item p {
    font-size: 12px;
}
.new_trial_btn{
    margin: 6% 0 ;
}
.elf_ul_classes1 {
    font-size: 11px;
    margin-left: -1px;
}
.two-col1 {
    grid-template-columns: 46% 54%;
    margin-top: 8%;
}
.batch_ p {
    font-size: 17px;
    width: 257px;
    position: absolute;
    margin-left: -34%;
    margin-top: 9%;
}
.mobile_viewcourse{
	display: block !important;
	padding: 0;
}
.web_viewcourse{
	display: none !important;
}
.elf_roopes1 {
    font-size: 24px;
}
.elf_line1 {
    font-size: 21px;
}
.b_right {
    border-right: 0px solid #fff;
    border-bottom: 2px solid;
}
.explore_course h1 {
    font-size: 24px !important;
}
.explore_course p {
    font-size: 13px;
}
.color_w1 span {
    font-size: 15px;
    line-height: 17px;
}
.new_leftmargin_fix{
    margin-left: -57%;
}
.block_span {

    font-size: 15px;
}
.main_babeg_ul li {
    font-size: 16px;
}
.book_trial {
    font-size: 15px !important;
}
.main_babeg_btn {
    text-align: center;
    margin: 1% 0 6%;
}
.web_viewcourse_ul{
	display: none !important;
}
.mobile_viewcourse_ul{
	display: block !important;
}
.b_right span {
    font-size: 14px;
}
.main_reading h3 {
    font-size: 25px;
    text-align: center;
}
.main_reading h2 {
    font-size: 21px;
    text-align: center;
    }
    .main_reading {
    margin-top: 10%;
}
.weekly_icons{
    justify-content: center !important;
}
.moble_b{
    text-align: center !important;
    margin-top: 8% !important;
    z-index: 11111;
    position: inherit;
} 
.web_trial_newbtn{
        display: none !important;
    }
    .mobile_trial_newbtn{
        display: block !important;
        width: 251px !important;
    margin-bottom: 7%;
    }
    .batch_new_img img {
    width: 88px;
}
/*.batch_new_img {
    margin-top: 25%;
    margin-left: -33%;
}
*/
.main_babeg_ul li {
    line-height: 34px;
}
}

@media only screen and (max-width: 736px) and (min-width: 667px){
		.main_courses {
    margin-top: 5%;
}
.moble_b {
    text-align: left!important;
    margin-top: 0% !important;
}
.course_margin {
    margin: -719px 0;
}
.course_margin_23{
    margin: -719px 0 !important;
}
.course_margin_newfix11 {
    margin-top: 508px;
}
.weekly_icons{
  justify-content: space-between !important;
}
.mobile_viewcourse{
	display: none !important;
}
.web_viewcourse{
	display: block !important;
}
.elf_ul_classes1 {
    font-size: 17px;
}
.card_item h3 {
    font-size: 17px;
}
.card_item p {
    font-size: 17px;
}
.batch_ p {
       font-size: 17px;
    width: 201px;
    position: absolute;
    margin-left: 0;
}
.main_reading {
    margin-top: 3%;
}
.b_right {
    border-right: 0px solid #fff;
    border-bottom: 2px solid;
}
.explore_course p {
    font-size: 18px;
}
.web_viewcourse_ul{
	display: none !important;
}
.mobile_viewcourse_ul{
	display: block !important;
}

}
@media (min-width: 768px) {
    .course_margin {
    margin: -804px 0 ;
}
.course_margin_23{
    margin: -804px 0 !important;
}
.course_margin_newfix11 {
    margin-top: 580px;
}
.elf_ul_classes1 {
    font-size: 18px;
}
.batch_ p {
    font-size: 17px;
    width: 201px;
    position: absolute;
    margin-left: 0;
}
    }
@media (min-width: 1024px) {
		.main_courses {
    margin-top: 3%;
}
.moble_b{
    text-align: left !important;
    margin-top:0% !important; 
}
.mobile_viewcourse{
	display: none !important;
}
.web_viewcourse{
	display: block !important;
}
.elf_ul_classes1 {
    font-size: 17px;
}
.card_item h3 {
    font-size: 17px;
}
.card_item p {
    font-size: 17px;
}
.batch_ p {
   font-size: 17px;
    width: 201px;
    position: absolute;
    margin-left: 0;
}
.main_reading {
    margin-top: 3%;
}
.b_right {
    border-right: 1px solid #fff;
    border-bottom: 0px solid;
}
.explore_course p {
    font-size: 18px;
}
.web_viewcourse_ul{
	display: block !important;
}
.mobile_viewcourse_ul{
	display: none !important;
}
.course_margin{
    margin:3% 0;
}
.course_margin_newfix11{
       margin-top: 0px;
}
}
@media (min-width: 1200px) {
    .batch_new_img img{
    width: 160px;
}

.new_leftmargin_fix{
    margin-left: 0;
}
.batch_new_img {
    margin-top: 9%;
    margin-left: 0;
}
    .web_trial_newbtn{
        display: block !important;
    }
    .mobile_trial_newbtn{
        display: none !important;
    }
    .mobile_batch{
    display: none !important;
}
.web_batch{
    display: block !important;
}
	.main_courses {
    margin-top: 4%;
    padding: 2% 0 1%;
    background: #f9feef;
}
.weekly_icons{
  justify-content: space-between !important;
}

.main_reading h2 {
    font-size: 29px;
    text-align: left;
    }
.main_reading h3 {
    font-size: 25px;
    text-align: left;
}
.web_viewcourse_ul{
	display: block !important;
}
.mobile_viewcourse_ul{
	display: none !important;
}
.main_babeg_btn {
   text-align: left;
    margin: 15% 0 1%;
   /* position: absolute;
    width: 40%;*/
}
.block_span {

    font-size: 20px;
}
.main_babeg_ul li {
    font-size: 18px;
}
.color_w1 span {
    font-size: 18px;
    line-height: 36px;
}
.elf_line1 {
    font-size: 27px;
    font-weight: 200
    }
.elf_roopes1 {
    font-size: 36px;
}
.elf_phonicses {
    text-align: left !important;
}
.elf_phonicses img {
    width: 249px;
}
.elf_phonicses h2 {
    font-size: 52px;
    margin: 1% 0 0;
}
.elf_phonicses p {
    font-size: 27px;
}
.card_item h3 {
    font-size: 18px;
}
.card_item p {
    font-size: 16px;
}
.elf_ul_classes1 {
    font-size: 18px !important;
    margin-left: 0px;
}
.book_trial {
    font-size: 22px !important;
}
.two-col1 {
    grid-template-columns: 37% 70%;
    margin-top: 9%;
}
.batch_ p {
    margin: 7% 9%;
    font-size: 17px;
    margin-left: 0;
    width: 163px;
    position: absolute;
}
.mobile_viewcourse{
	display: none !important;
}
.web_viewcourse{
	display: block !important;
}
.b_right {
    border-right: 1px solid #fff;
    border-bottom: 0px solid;
}
.explore_course1 img {
    width: 4%;
    margin-top: 2% !important;
}
.explore_course h1 {
    font-size: 50px;
    }
    .explore_course p {
    font-size: 16px;
}
.b_right span {
    font-size: 19px;
}
.main_reading {
    margin-top: 0%;
}
.explore_course h1 {
    font-size: 38px !important;
}
.new_trial_btn{
    margin: 0% 0 ;
}
.card_item p {
    margin: 0px 18% 3%;
    }
    .red_span {
        font-size: 32px;
    font-family: Livvic-Medium;
    font-weight: bold;
}
.main_babeg_ul li {
    line-height: 40px;
}

.testimonial .description {
    text-align: left;
}
.course_margin{
    margin:3% 0;
}
.course_margin_23{
    margin: 3% 0 !important;
}
.course_margin_newfix11{
       margin-top: 0px;
}
.moble_b{
    text-align: left;
    margin-top:0%; 
}
}

