@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

@font-face {
    font-family: Fredoka;
    src: url(../fonts/FredokaOne-Regular.ttf);
}

@font-face {
    font-family: livvic-medi;
    src: url(../fonts/Livvic-Medium.ttf);
}

body {
    font-family: Fredoka;
}
.header-bg{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0 0;
    margin-top: 5%;
}
.header-bg .banner-title h1{
font-size: 83pt;
    color: #602d91;
    font-family: 'Fredoka One', cursive;
}


@media (max-width: 992px) {
    .header-bg .banner-title h1{
        font-size: 83pt;
        text-align: center;
    }
    .header-bg{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0 0;
}
}

@media (max-width: 480px) {
    .header-bg .banner-title h1{
        font-size: 40pt;
    }
    .header-bg{
    background-image: url(../img/howitmobilebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 23% 0 0;
}
.how_mobile{
    display: block !important;
}
.how_web{
    display: none !important;
}
}
@media (min-width: 320px) {
        .how_mobile{
    display: block !important;
}
.how_web{
    display: none !important;
}
h4.panel-title {
    padding: 8px 3px;
    text-align: center;
}
}
@media (min-width: 1200px) {
        .how_mobile{
    display: none !important;
}
.how_web{
    /*display: block !important;*/
    display: flex !important;
}
h4.panel-title {
    padding: 8px 3px;
    text-align: left;
}
}
@media (max-width: 375px) {
    .header-bg .banner-title h1{
        font-size: 40pt;
    }

}

.header-bg .embed-responsive{
    height: 50vh;
}




/* .howwill .icon img{
    width: 6%;
} */

.howwill .how36pt{
    font-size: 30px;
    text-align: center;
    color: #fc4d40;
    margin: 1em 0;
        font-family: 'Fredoka One', cursive;

}

.grid-col{
    display: grid;
    grid-template-columns: 30% 35% 35%;
    margin: 3em 0;
}

.grid-col .img{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
}


.grid-col .img-title{
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: center;
}
.grid-col .img-title .how24pt{
    color: #602d91;
    font-size: 20pt;
        font-family: 'Fredoka One', cursive;

}
.img-content17{
    margin-top: 0 !important;
}
.grid-col .img-content{
    grid-column: 2/4;
    grid-row: 2/3;
        margin-top: -3%;
}

.grid-col .img-content .how21pt{
    font-size: 14pt;
    font-weight: 100;
    font-family: livvic-medi;
    align-self: center;
}

.grid-col .img-content span{
    display: block;
    width: 100%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}



.grid-col-reverse{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    margin: 3em 0;
}

.grid-col-reverse .img{
    grid-column: 3/4;
    grid-row: 1/4;
    align-self: center;
}
.grid-col-reverse .img-title{
    grid-column: 1/3;
    grid-row: 1/2;
}
.grid-col-reverse .img-title .how24pt{
    color: #602d91;
    font-size: 20pt;
            font-family: 'Fredoka One', cursive;

}
.grid-col-reverse .img-content{
    grid-row: 2/4;
    grid-column: 1/3;
    margin-top: -7%;
}
.img-content11{
    margin-top: -5% !important;
}
.grid-col-reverse .img-content .how21pt{
    font-size: 14pt;
    font-weight: 100;
    font-family: livvic-medi;
        
}

.grid-col-reverse .img-content span{
    display: block;
    width: 100%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}


@media (max-width: 992px) {
    .grid-col .img{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .grid-col .img-title{
        grid-column: 2/4;
        grid-row: 1/2;
        align-self: center;
    }
    .grid-col .img-title .how24pt{
        font-size: 20pt;
    }

    .grid-col .img-title{
        display: flex;
        justify-content: flex-end;
    }
    .grid-col .img-content{
        grid-column: 1/4;
        grid-row: 2/3;
        text-align: center;
    }

    .grid-col-reverse .img{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .grid-col-reverse .img-title{
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
   
    .grid-col-reverse .img-title .how24pt{
        color: #602d91;
        font-size: 20pt;
    }
    .grid-col-reverse .img-content{
        grid-column: 1/4;
        grid-row: 2/3;
        text-align: center;
    } 
}

@media (max-width: 480px) {
    .grid-col{
        margin: 0.8em 0;
    }
    .howwill .how36pt{
        font-size: 20px;
    }
    .grid-col .img-title .how24pt{
        font-size: 14pt;
        padding: 0 16px;
    }
    .grid-col .img-content .how21pt{
        font-size: 12pt;
        line-height: 28px;
        margin: 28px 0px;
    }

    .grid-col-reverse .img-content .how21pt{
        font-size: 12pt;
        line-height: 28px;
        margin: 28px 0px;
    }

    .grid-col-reverse .img-title .how24pt{
        font-size: 14pt;
    }
   
}







.faq .how36pt{
    font-size: 34px;
    text-align: center;
    color: #fc4d40;
    margin: 1em 0;
        font-family: 'Fredoka One', cursive;

}
.faq .faq-sec .panel-title a{
    font-size: 12pt;
    font-weight: 100;
    font-family: livvic-medi;
    color: #000;
    padding: 12px;
}

.panel.panel-default{
    box-shadow: 1px 1px 10px rgb(0 0 0 / 10%);
    border-radius: 14px;
    margin: 22px 0px;
}
h4.panel-title{
    padding: 10px;
}
.panel-body {
    padding: 18px 18px;
    font-size: 12pt;
    font-family: livvic-medi;

}
/* Collapse */

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
    padding-top: 8px;
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}