@media (min-width: 300px) {

.elf_ul_classes {
    margin: 9% 9% 3% 0% !important;
}
.discount_btn {
    margin-left: -25px !important;
}
.elf_liveclass h3 {
    font-size: 12px !important;
}
}
@media (min-width: 320px) {
	.span_class {
    font-size: 34px;

}
.ml-auto{
    display: none !important;
}
.color_w1 i{
    font-size: 17px;
}
.top_lkg_ukg {
    font-weight: 100;
}
.elf_details img {
    width: 61%;
    margin: 2% 0;
}
.span_live {
    -webkit-text-stroke: 2px #fff !important;
    }
.whats-app{
    display: block !important;
}
.testimonial .description{
    text-align: center;
    padding: 0 0px 0 0px;
}
.owl-theme .owl-controls .owl-page span {
    width: 14px !important;
    height: 14px !important;
    border-radius: 50% !important;
    border: 4px solid #ccc;
    background-image: none !important;
    background-size: cover !important;
    transition: all 0.3s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-page:nth-child(3) span {
    background-image: none !important;
    background-size: cover !important;
}
.owl-theme .owl-controls .owl-page:nth-child(2) span {
    background-image: none!important;
    background-size: cover !important;
}
.owl-theme .owl-controls .owl-buttons div {
    margin: 36px !important;
    position: absolute;
    display: none !important;
}
.dropdown-menu {
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    margin-left: 22px;

}
.home_newphone a {
    color: #000 !important;
    font-size: 13px;
}
.interact_ul {
    margin-left: 30px !important;
    }
.elf_banner{
    background-image: url(../img/bgband_moble.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0 0 0;
    margin-top: 3%;
}
.pro_padding_fix{
    padding: 20% 0;
}
.new_trial_btn{
    margin: 8% 0 ;
}
.weekly_icons{
    justify-content: center !important;
}
.elf_logo img {
    width: 166px;
    padding-left: 15px;
}
.copy {
    font-size: 15px;
    border-top: 0px solid #FFFFFF;
}
.main_interactive h3 {
    font-size: 30px;
    }
    .main_interactive h1 {
    font-size: 55px;
}
.explore_course h1 {
    font-size: 39px;
    }
    .main_course {
    margin: 22px;
}
.elf_phonics h2 {
    font-size: 24px;
    }
    .elf_roopes {
    font-size: 18px;
    padding: 6px;
}
.elf_ul_classes span {
    padding: 10px;
}
.elf_liveclass span {
    font-size: 41px;
    }
    .elf_liveclass img {
    width: 69%;
}

.elf_liveclass h3 {
    font-size: 13px !important;
}
.book_trial {;
    font-size: 15px;
}
.explore_course1 img {
    width: 14%;
    margin-top: 8%;
}
.elf_liveclass {
    padding: 4%;
}
.explore_course p {
    font-size: 17px;
}
.elf_48 {
    font-size: 45px;
    }
    .elf_live48 {
    font-size: 32px;
}
.elf_by48 {
    font-size: 15px;
    margin-left: -27%;
    margin-top: 0%;
    line-height: 26px;
    }
    .elf_liveclass1 img {
    width: 283px;
    margin-top: 0;
}
.list_top_fix{
	margin-top: 5%;
}
.elf_buttons{
	display: block;
    text-align: center;
    margin-top: 8%;
}
.elf_select_lkg_ukg {
    padding: 5px 7%;
    font-size: 21px;
    margin: 6% 0 6%;
}
.main_container{
        width: 100%;
}
.elf_students img {
    width: 100%;
    margin-top: 0%;
}
/*.main_interactive h4 {
    margin-top: 84%;
}*/
.free_left_btn{
	text-align: center;
    flex-direction: column;
}
.social-network{
    text-align: center;
}
footer p {
    font-size: 14px;
}
footer a {
    font-size: 14px;
}
.show_interative {
    font-size: 16px;
    line-height: 17px;
    }

.testi-img{
    display: block!important;
}.webview_part{
    display: none!important;
}
.mobileview_part{
    display: block !important;
    margin-top: 8%;
}
.testimonial .title {
    font-size: 12px;
    text-align: center;
    }
    .icon-content{
        height: 89px;
    }
    
.main_interactive{
        text-align: center;
}
.interact_ul li {
    font-size: 14px;
        line-height: 29px;
}
.main_interactive h4 {
    font-size: 15px;
    }
.mobile_viewimg{
        display: block !important;
    }
.web_viewimg{
        display: none !important;
    }
        .elf_line {
    font-size: 18px;
}
  .discount_btn {
    margin-left: -38px !important;
}
.elf_ul_classes li{
    font-size: 14px;
}
.elf_ul_classes {
    margin: 9% 9% 3% 8% !important;
}
.web_play{
    display: none !important;
}
.mobile_play{
    display: block !important
}
.total_play {
    display: block;
    }
    .two-col .live_ {
    font-size: 20px;
    line-height: 13px;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 1.5rem;
}
.two-col h1 span {
    font-size: 64px;
}
.web_description{
    display: none !important;
}
.mobile_description{
    display: block !important;
}
}
/*@media only screen and (max-width: 768px) and (min-width: 667px){
.elf_banner {
    margin-top: 12%;
}
}*/
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-nav {
    padding-left: 0px !important;
}
}
@media (min-width: 1200px) {
    .total_play {
    display: contents;
}
.two-col h1 span {
    font-size: 3em;
    }
.elf_logo img {
    width: 208px;
    padding-left: 0px;
}
.show_interative {
    font-size: 1.2em;
    }
.navbar-expand-md .navbar-nav .nav-link {
   /* padding-right: 0.5rem;
    padding-left: 4.5rem !important;*/
        margin-left: 68px;
}
.navbar-nav {
    padding-left: 45px;
}
.two-col .live_ {
    font-size: 3.5em;
    }
    .discount_btn {
    margin-left: -43px !important;
}
.web_play{
    display: block !important;
}
.mobile_play{
    display: none !important
}
.elf_banner {
    margin-top: 5%;
}
.elf_ul_classes {
    margin: 5% 9% 5% 9% !important;
}
.elf_ul_classes li{
    font-size: 16px;
}
    .elf_line {
    font-size: 22px;
}
.interact_ul li {
    font-size: 16px;
}
.mobile_viewimg{
        display: none !important;
    }
.web_viewimg{
        display: block !important;
    }
.main_interactive h4 {
    font-size: 20px;
    }
   .main_interactive{
        text-align: left;

 }
 .elf_students {
    margin-top: 4%;
}
/*.owl-pagination{
    display: block !important;
}*/
    .icon-content{
        height: auto;
    }
.testimonial .title {
    font-size: 16px;
    margin-left: 32px;
    text-align: left;
}
.testi-img{
    display: none !important;
}
.elf_select_lkg_ukg {
    padding: 5px 4%;
    font-size: 26px;
    margin: 0 0 2%;
}
footer p {
    font-size: 16px;
}
footer a {
    font-size: 16px;
}
.free_left_btn{
	text-align: left;
}
.main_interactive h4 {
    margin-top: 6%;
}
.main_container{
        width: 63%;
}
.elf_buttons{
	display: none;
}
	.main_interactive h3 {
    font-size: 40px;
}
.main_interactive h1 {
    font-size: 74px;
    }
.span_class {
    font-size: 65px;
}
.explore_course h1 {
    font-size: 50px;
    }
    .main_course {
    margin: 0px;

}
.elf_phonics h2 {
    font-size: 32px;
    }
    .elf_roopes {
    font-size: 26px;
    padding: 0 0px 0 8px;
}
.elf_ul_classes span {
    padding: 12px;
}
.elf_liveclass img {
    margin-top: -3%;
    width: 29%;
}
.elf_liveclass span {
    font-size: 60px;
}
.elf_liveclass h3 {
    font-size: 22px !important;
}
.book_trial {
    font-size: 20px;
}
.explore_course1 img {
    width: 3%;
    margin-top: 5%;
}
.elf_liveclass {
    padding: 2%;
}
.explore_course p {

    font-size: 16px;
}
.elf_48 {
    font-size: 89px;
    }
    .elf_live48 {
    font-size: 49px;
}
.elf_by48 {
    font-size: 23px;
    margin-left: -10%;
    margin-top: -1%;
    line-height: 59px;
}
.elf_liveclass1 img {
	width: 344px;
    margin-top: -11%;
}
.list_top_fix{
	margin-top: 20%;
}
.book_margin {
    margin: 7% 0 5% -26%;
}
.elf_students img {
    width: 100%;
    margin-top: 0%;
}
.social-network{
    text-align: left;
}
.copy {
    font-size: 16px;
    border-top: 1px solid #FFFFFF;
}
.webview_part{
    display: block !important;
}
.mobileview_part{
    display: none !important;
}
.weekly_icons{
  justify-content: space-between !important;
}

.new_trial_btn {
    margin: 0% 0;
}
.pro_padding_fix{
    padding: 8px 0;
}
.web_description{
    display: block !important;
}
.mobile_description{
    display: none !important;
}
.elf_banner{
    background-image: url(../img/bgband.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7% 0 0 0;
    margin-top: 0%;
}
.interact_ul {
    margin-left: 19px !important;
    }


.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15) !important !important;
    margin-left: 0px;

}
.owl-theme .owl-controls .owl-page span {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    /* border: 4px solid #ccc; */
    background: url(../img/test1_a.png) no-repeat !important;
    background-size: cover !important;
    transition: all 0.3s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-page:nth-child(3) span {
    background: url(../img/test3_a.png) no-repeat !important;
    background-size: cover !important;
}
.owl-theme .owl-controls .owl-page:nth-child(2) span {
    background: url(../img/test2_a.png) no-repeat !important;
    background-size: cover !important;
}
.owl-theme .owl-controls .owl-buttons div {
    margin: 36px !important;
    position: absolute;
    display: block !important;
}
.testimonial .description{
    text-align: left;
    padding: 0 27px 0 33px;
}
.whats-app{
    display: none !important;
}
.span_live {
    -webkit-text-stroke: 1px #fff !important;
    }
    .home_newphone a {
    font-size: 16px;
}
.elf_details img {
    width: 36%;
    margin: 1% 0;
}
.top_lkg_ukg {
    font-weight: bold;
}
.color_w1 i{
    font-size: 23px;
}
.ml-auto{
    display: block !important;
}
}