body{
	overflow-x: hidden;
    font-family: 'Livvic', sans-serif;

}


/**{
    border: 1px solid;
}*/
    @font-face {
    font-family: 'Livvic-Medium';
    src: url('../fonts/Livvic-Medium.ttf');
}
/*    @font-face {
    font-family: 'FredokaOne-Regular';
    src: url('../fonts/FredokaOne-Regular.ttf');
}*/
.navbar-light .navbar-toggler{
    border-color: rgba(0, 0, 0, 0)
}
.panel-title a{
    cursor: pointer !important;
}
.panel-title{
    margin-top: 6%;

}
.panel-title a:hover{
    text-decoration: none !important;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    border-bottom: 2px solid #ccc;
}

.close{
    padding: 9px 7px 12px !important;
    background: #fff !important;
    opacity: 1 !important;
    border-radius: 30px !important;
    line-height: 6px !important;
    text-align: center !important;
    border: 0 !important;
    margin: 2% 0 !important;
}

.weekly_icons{
    justify-content: space-between;
}
.bg-light {
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 5px 0px #ccc;
    background-color: #fff !important;
    padding: 20px 0;
    /*border-bottom: 1px solid #ccc;*/
}
.elf_logo img{
    width: 208px;
}
.header{
	background-color: #1abaea;
  padding: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 96%);
}
.whatsapp-logo{
    padding: 0 12px;
}


/*tab css*/
.btn-group.nav {
    display: block;
}

.btn-group .btn.active {
    background-color: var(--primary);
    color: #fff;
}
.icon-content span{
    display: block;
    width: 100%;
    color:#fff;
}

.icon-content{
    background-color: #f17d22;
    position: relative;
    font-size: 13px;
    padding: 10px 0;
    line-height: 20px;
}
.icon-content_1{
        background-color: #00aeef;
}
.icon-content_1::before{
        border-bottom-color: #00aeef !important;
}
.icon-content_2{
        background-color: #a0d235;
}
.icon-content_2::before{
        border-bottom-color: #a0d235 !important;
}
.icon-content_3{
        background-color: #602d91;
}
.icon-content_3::before{
        border-bottom-color: #602d91 !important;
}
.icon-content_4{
        background-color: #0070ca;
}
.icon-content_4::before{
        border-bottom-color: #0070ca !important;
}
.icon-content::before{
    position: absolute;
    content: "";
    border: 20px solid;
    top: -40px;
    left: 36%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #f17d22;
    border-left-color: transparent;
}
.icon-content .bold-text{
    font-weight: 600 !important;
    font-family: Livvic-Medium;
}

.icon-content .light-text{
       font-weight: 300 !important;
    font-family: Livvic-Medium;
}


.ag_logo img{
    width: 200px;
    padding: 5px;
}
.elf_banner{
    background-image: url(../img/bgband.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0 0 0;
}
.main_interactive h3{
    color: #603599;
    font-size: 40px;
    /*text-shadow: 1px 1px 1px #603599;*/
    margin: 0;
    font-family: 'Fredoka One', cursive;
}
.main_interactive h1{
    font-size: 74px;
    font-weight: bold;
    margin: 0;
}
.main_interactive h4{
    font-size: 16px;
    margin-top: 6%;
}
.span_live{
    color: #fd4d40;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke: 1px #fff;
}
.span_class{
    color: #603599;
    font-size: 67px;
    letter-spacing: 3px;
    padding: 6px;
    font-family: 'Fredoka One', cursive;
}
.interact_ul{
    margin-top: 2%;
    padding: 0;
    margin-left: 19px;
    text-align: left;
}
.interact_ul i{
    margin-left: -16px;
}
.interact_ul span{
    padding: 0 6px;
}
.interact_ul li{
    list-style: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.book_trial{
    background: #fd4d40;
    border: 0px solid #00000069;
    border-radius: 0;
    padding: 3px 23px 6px;
    font-size: 20px;
    font-weight: 600;
}
.elf_students{
    margin-top: 9%;
}
.elf_students img{
    width: 100%;
}
.nav-link1{
    padding-left: 3.5rem !important;
}
.margin_fix{
    margin-top: 5%;
}
.elf_phonics h2{
    font-size: 32px;
    margin: 5% 0 0;
}
.elf_phonics img{
    margin: 6% 0 0;
}
.learn_elf{
    color: #673ab3;
}
.learn_elf1{
    color: #f15a24;
    font-style: italic;
}
.elf_line{
    font-weight: 200 !important;
     font-family: Livvic-Medium;
    text-decoration: line-through;
    text-decoration-color: #2020209c;
    font-size: 22px;
}
.elf_gst{
    font-weight: 200 !important;
    font-family: monospace;
    font-size: 13px;
}
.explore_course h1{
    font-size: 50px;
    /*font-weight: bold;*/
    color: #fd4d40;
    margin: 3%;
    font-family: 'Fredoka One', cursive;
}
.explore_course1 h1{
    margin: 1% !important;
}
.explore_course1 img{
    width: 4%;
    margin-top: 5%;
}
.best_img{
width: 50px;
}
.explore_course p{
    margin-bottom: 0;
    line-height: 30px;
    color: #555555e8;
    font-size: 16px;
}
.elf_roopes{
    font-size: 26px;
    padding: 0 0px 0 8px;
    text-shadow: 0px 0px 1px #333;
}
.elf_select_lkg_ukg{
    background: #b0d136 !important;
    padding: 5px 4%;
    border-radius: 13px !important;
    font-size: 26px;
    border: 0;
    margin: 0 0 2%;
    color: #fff !important;
    font-family: 'Fredoka One', cursive;
    cursor: auto !important;
    width: 221px;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
}
.card-body {
    padding: 0;
}
.discount_btn {
    /* position: absolute; */
    background: #fd4d40;
    border: 0px solid #00000069;
    border-radius: 0;
    padding: 0px 8px 0px;
    font-size: 12px;
    color: #fff;
    margin-left: -51px;
    margin-right: 16px;
}
.top_lkg_ukg{
    position: absolute;
    font-size: 16px;
    left: 5%;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.color_blue{
    background: #f17d22 !important;
}
.color_blues{
    background-color: #0071b5 !important;
}
.best_{
        color: #fff;
        font-size: 24px;
        font-family: Livvic-Medium;
        font-weight: bold;

}
.elf_ul_classes{
    margin: 9% 9% 3% 9%;
    line-height: 37px;
    text-align: left;
}
.elf_ul_classes li{
    list-style: none;
}
.elf_ul_classes span{
    padding: 12px;
}
.book_trial1{
    padding: 2px 33px 5px 41px;
    margin: 1% 0 8%;
}
.main_course{
    padding: 0;
    border-radius: 37px;
    box-shadow: 0px 0px 9px 0px #00000036;
    background-color: #fff;
}
.course_img img{
    width: 100%;
}
.main_lkgcourse{
    background: #b0d136;
    padding: 2% 0;
    border-radius: 13px;
}
.elf_liveclass{
    background: #c8eaf5;
    padding: 2%;
    text-align: center;
    margin-top: 4%;
}
.elf_liveclass span{
    font-size: 60px;
    color: #662d91;
    padding: 16px;
    font-family: 'Fredoka One', cursive;
}
.elf_liveclass h3{
    font-size: 22px;
    color: #662d91;
    margin: 1% 0 3%;
    font-family: 'Fredoka One', cursive;
}
.elf_liveclass img{
    margin-top: -3%;
    width: 29%;
}
.elf_48{
    font-size: 89px;
    position: absolute;
    color: #662d91;
    font-family: 'Fredoka One', cursive;
}
.elf_live48{
    font-size: 49px;
    margin-left: 17%;
    color: #662d91;  
    font-family: 'Fredoka One', cursive;
}
.elf_by48{
    font-size: 23px;
    margin-left: -10%;
    margin-top: -1%;
    line-height: 59px;
    position: absolute;
    color: #662d91;
}

.elf_liveclass1{
    background: #c8eaf5;
    margin-top: 5%;
}
.elf_liveclass5{
    background: #c8eaf5;
    margin-top: 5%;
    padding: 4% 0 2%;
}
.book_margin{
        margin: 7% 0 5%;
}
.elf_liveclass1 img{
    width: 283px;
    margin-top: -18%;
}
/*croser css*/
#testimonial-slider{
    padding: 50px 20px 35px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 22px 0px #c8eaf5;
    border-radius: 12px;
    margin-top: 5%;
}
.testimonial .description{
    font-size: 14px;
    color: #777;
    line-height: 26px;
    text-align: left;
        padding: 0 27px 0 33px;
    font-family: Livvic-Medium;
}
/*.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    left: -15px;
}*/
.testimonial .title{
    font-size: 19px;
    font-weight: bold;
    color: #363636;
    text-transform: capitalize;
    text-align: left;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    color: #363636;
}
.owl-buttons{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 38%;
    left: 0;
}
.owl-prev,
.owl-next{
    position: absolute;
    left: 0;
    transition: all 0.4s ease-in-out 0s;
}
.owl-next{
    left: auto;
    right: 0;
}
.owl-buttons .owl-prev:before,
.owl-buttons .owl-next:before{
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 60px;
    font-weight: 900;
    color: #cacaca;
    line-height: 20px;
    opacity: 0.8;
}
.owl-buttons .owl-next:before{
    content: "\f105";
}
.owl-buttons .owl-prev:hover:before,
.owl-buttons .owl-next:hover:before{
    opacity: 1;
}
.owl-theme .owl-controls .owl-buttons div{
    background: transparent;
}
.owl-theme .owl-controls{
    margin-top: 40px;
}

.owl-theme .owl-controls .owl-page span{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    /*border: 4px solid #ccc;*/
    background: url("../img/test1_a.png") no-repeat !important;
    background-size: cover !important;
    transition: all 0.3s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 23px 12px !important;
    }
.owl-buttons .owl-prev:before, .owl-buttons .owl-next:before{
    display: none;
}
.owl-prev{
    background: url("../img/arrow-left1.png") no-repeat !important;
    background-size: cover !important;
}
.owl-next{
        background: url("../img/arrow-right1.png") no-repeat !important;
        background-size: cover !important;
}
/*.testi-img img{
    width: 100px !important; border-radius: 50% !important; height: 100px !important;
}*/
.owl-theme .owl-controls .owl-page:nth-child(2) span{
    background: url("../img/test2_a.png") no-repeat !important;
    background-size: cover !important;
}
.owl-theme .owl-controls .owl-page:nth-child(3) span{
    background: url("../img/test3_a.png") no-repeat !important;
    background-size: cover !important;
}
.owl-theme .owl-controls.clickable .owl-page:hover span{
    opacity:1 !important;
}
/*.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page.active:hover span{
    border-color: #d133ff;
    opacity: 1;
}*/
.owl-theme .owl-controls .owl-buttons div{
       margin: 36px !important;
    position: absolute;
}
.two-col{ 
    display: grid;
    grid-template-columns: 30% 70%
 }
/*footer css start*/
footer {
  background: #333333;
  color: white;
}

footer a {
    line-height: 39px;
    color: #b9b2ae !important;
    font-size: 16px;
}
footer p{
   color: #b9b2ae; 
}
footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
    font-size: 16px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.live_play{
    color: #fff;
    padding: 10px;
    font-size: 17px;
}



.elf_btn_topfix{
    margin-top: 3%;
}
.instagram{
    width: 35px;
}
.fb{
    width: 34px;
}
button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.card-header {
    padding: 0;

    border-bottom: 0px solid rgba(0, 0, 0, 0.125);
        background-color: transparent !important;
    border: 0;
}
.card{
    border:0 !important;
}
.navbar-nav {
    padding-left: 45px;
}
@media only screen and (max-width: 479px){
    .owl-buttons{ bottom: 30%; }
}
@media (min-width: 768px){
/*.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 2.5rem;
}*/
.offset-md-4 {
    margin-left: 33.333333% !important;
}
.offset-md-1 {
    margin-left: 8.333333% !important;
}
.offset-md-2 {
    margin-left: 12.666667% !important;
}
}



.two-col{ 
    display: flex;

 }

 @media (min-width: 425px){
        .show_interative{
                display: none;
}    
 }

         .show_interative{
                      font-size: 1.2em;
    color: #662d91;
    font-family: 'Fredoka One', cursive;
}

 .two-col h1 span{
    font-size: 3em;
    color: #662d91;
    font-family: 'Fredoka One', cursive;
 }
   .two-col .live_{
        font-size: 3.5em;
    color: #662d91;
    font-family: 'Fredoka One', cursive;
   }

  .two-col .interactive_{
       font-size: 1.5em;
    color: #662d91;
    font-family: 'Fredoka One', cursive;
 }
@media (max-width: 425px){
  .two-col .interactive_{
        display:none;
 }   
 } 
 .total_play{
        display: block;
    margin: 5% 0;
 }
/*course css*/
.main_courses{
    margin-top: 8%;
    padding: 2% 0 1%;
}
.testi-img img{
width: 100px !important; border-radius: 50% !important; height: 100px !important;
}
.elf_phonicses{
    text-align: left !important;
}
.elf_phonicses h2{
    font-size: 41px;
    margin: 1% 0 0;
}
.elf_phonicses img{
    margin: 5% 0 0;
    width: 249px;
}
.elf_phonicses p{
    color: #5A5440;
    font-size: 23px;
    margin:1% 0;
}
.elf_ul_classes1{
    padding: 0;
    line-height: 37px;
    text-align: left;
}
.elf_ul_classes1 li{
    list-style: none;
}
.two-col1 {
    display: grid !important;
    grid-template-columns: 37% 70%;
    margin-top: 11%;
}
.card_item h3{
    font-size: 16px;
    background: #e0edae;
    padding: 5px;
}
.card_item{
    border: 1px solid#e0edae;
    border-top: 0px;
    background-color: #fff;
    display: inline-table;
}
.card_item p{
   text-align: left;
    margin: 0px 18% 3%;
    line-height: 28px;
}
.batch_ p{
    margin: 4% 9%;
    position: absolute;
}
.elf_h4 h4{
        font-size: 14px;
    color: #555;
}
.book_trial2{
        margin: 1% 0 3%;
}
.course_margin{
    margin:3% 0;
}
.elf_line1 {
        font-size: 27px;
        font-family: Livvic-Medium;
    text-decoration: line-through;
    text-decoration-color: #2020209c;
    padding: 0 9px;
}
.elf_roopes1 {
    font-size: 36px;
    }
.main_reading{
    background-color: #602d91;
    padding: 3% 0 2%;
    color: #fff;
}
.main_reading h3{
    font-size: 25px;
}
.b_right{
        border-right: 1px solid #fff;
}
.color_w li{
    color: #fff;
    line-height: 34px;
}
.color_w1 li{
    color: #333;
    line-height: 34px;
}
.color_w1 span {
    font-size: 18px;
    line-height: 51px;
}
.color_w1 i{
        margin-left: -16px;
    color: #a0d235;
    font-size: 23px;
}
.b_right span{
    font-size: 19px;
}
.main_reading h2{
    font-size: 28px;
    line-height: 34px;
    margin: 7% 0;
}
.explore_courses h1{
    margin: 3% 0 2% !important;
}
.first_list{
    background: url(../img/arrow1.png) no-repeat !important;
    height: 141px;
    width: 292px;
    text-align: center;
}
.first_list1{
    background: url(../img/arrow2.png) no-repeat !important;
    height: 141px;
    width: 292px;
    text-align: center;
}
.first_list2{
    background: url(../img/arrow3.png) no-repeat !important;
    height: 141px;
    width: 292px;
    text-align: center;
}
.first_list3{
    background: url(../img/arrow4.png) no-repeat !important;
    height: 141px;
    width: 292px;
     text-align: center;
}
.main_dec{
background: #fff;
    box-shadow: 0px 0px 22px 0px #c8eaf5;
    border-radius: 12px;
    padding: 2% 5%;
}
.main_babeg{
    background-color:#c8eaf5;
    padding: 2% 0 1%;
    margin-top: 3%;
}
.main_babeg_btn{
    text-align: end;
    margin-top: 7%;
}
.main_babeg_ul li{
        list-style: none;
    line-height: 40px;
    font-size: 18px;
}
.red_span{
    color: #fd4d40;
     font-size: 32px;
}
.block_span{
font-family: Livvic-Medium;
    font-weight: bold;    color: #000;
    font-size: 20px;
}
@media (min-width: 992px){
.col-lg-3 {
    max-width: 23% ;
}
}
.breadcrumb-item + .breadcrumb-item::before{
    content: ">>" !important;
}
.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-top: 3%;
}
.viewcourse_ul{
    padding: 0;
}
.viewcourse_ul li{
    padding: 10px;
    list-style: none;
    text-align: center;
    margin-top: 3%;
    font-size: 13px;
}
.first_li1{
background: #e1edaf;
}
.first_li2{
background: #bbdc71;
}
.first_li3{
background: #a0d235;
}
.first_li4{
background: #76c835;
}
.child_a{
    font-family: Livvic-Medium;
    color: #fefffde0;
}
.margin_top_picx{
    margin-top: -11%;
}
.breadcrumb-item a{
    color: #838689 !important;
}
.active{
    color: #000 !important;
}
.book_new_logo img{
    width: 55%;
    margin: 0 12% 4%;
}
.batch_new_img{
    margin-top: 6%;
}
.batch_new_img img{
    width: 200px;
}
#hover-content {
   display:none;
}
#parent:hover #hover-content {
    display:block;
}
#hover-content1 {
   display:none;
}
#parent1:hover #hover-content1 {
    display:block;
}
#hover-content2 {
   display:none;
}
#parent2:hover #hover-content2 {
    display:block;
}
.web_viewcourse_ul p{
    font-size: 18px;
}


/*.topnav a:hover,
.topnav a:active,
.topnav a:focus {
  border-bottom: 3px solid red;
}*/

/*.topnav a.active {
  border-bottom: 3px solid red;
}*/
/*.speak{
    margin-left: 12%;
}*/
.elf_i{
    font-style: italic;
}
.whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}
.elf_details img {
    width: 36%;
    margin: 1% 0;
}
.home_newphone{
    float: right;
    margin: 2% 0; 
}
.total_play a:hover{
    text-decoration: none;
}
.total_play{
    cursor: pointer;
}
.platy_img{
        width: 61px;
    margin-top: -58%;
}
.video_img  img{
    cursor: pointer;
}
.modal-content {
    /*background: transparent !important;*/
    border: 0 !important;
}
.moble_b{
    text-align: left;
    margin-top:0%; 
}
.trial_position{
    z-index: 1111;
}
.new_up{
    color: #b9b2ae !important;
    cursor: auto;}